@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body { margin: 10px; padding: 10px;
      font-family: 'Lato',
      text-align: left;
      font-size: 15px;
        color: black;
     }


h1 {
  margin: 20px; padding: 10px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 55px;
  font-weight: bold;
  text-transform: uppercase;

}

h2 {
  margin: 10px; padding: 10px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;

}


.btn-flat {
  color: black
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.9;
  transition: opacity 0.3s ease;
  background: #048ba8;
}

.btn-flat:hover {
  opacity: 1;
}

.card {
  border: 0px;
}

.greyscale {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.sepia {
  -webkit-filter: sepia(1);
  filter: sepia(1);
}

.saturate {
  -webkit-filter: saturate(8);
  filter: saturate(8);
}

.lomo  {
  filter: saturate(1.5) contrast(1.3) blur(0.2px) brightness(1.1);
}
